{
  "tabWidth": 2,
  "bracketSameLine": true,
  "printWidth": 100,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
