<div
  class="flex flex-col justify-between items-center gap-8 p-8 h-dvh w-dvw bg-indigo-900 overflow-hidden text-white">
  <div class="flex w-full">
    <button
      class="flex justify-center items-center gap-2 text-2xl text-teal-500 bg-transparent border-2 border-teal-500 active:border-teal-700 active:text-teal-700 transition-all py-4 px-8 w-auto rounded-2xl"
      routerLink="/clues">
      Atrás
    </button>
  </div>

  <div class="flex flex-col justify-center items-center flex-1 gap-8 w-full">
    @if (clue()) {
      <h2>{{ clue()?.title }}</h2>
      <button
        class="flex justify-center items-center gap-2 text-2xl text-teal-500 bg-transparent border-2 border-teal-500 active:border-teal-700 active:text-teal-700 transition-all py-4 px-8 w-auto rounded-2xl"
        (click)="clue()!.solved = true">
        Resolver
      </button>
    }
  </div>
</div>
